.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%; /*alinhar no meio do header*/
    background-color: #2C3E50;
    color: white;
}

.main-header .title, .main-header .navigation {
    display: inline;
}

.main-header a {
    color: white;
}