.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
}

.portfolio > h2 {
    margin-top: 40px;
    font-size: 30px;
}

.portfolio > .star-bar > .bar {
    background-color: #000;
}

.project-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 713px;
    height: 300px;
}

.project-container > img {
    width: 25%;
    margin: 10px;
    border-radius: 10px;
}