.main-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    
}

.description {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


.main-image {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.information {
    display: flex;
    justify-content: center;
    color: white;
}

.information p > a {
    color: white;
}

.information p > a:hover {
    color: blue;
}