@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    background-color: #7487FF;
    font-family: 'Montserrat', sans-serif;
    height: 10000px;      /*Add esse height apenas para demonstrar o position fixed sendo "usado"*/
}
.main-header {
    display: flex;
    position: fixed;
    background-color: #705DE8;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    border: 1px solid black;
    border-radius: 25px;
}

.logo-header img {
    width: 50px;
}

.navigation-bar a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.navigation-bar a:last-child {
    background-color: #A434FF;
    padding: 15px;
    border-radius: 30px;
}

